{% if matches %}
<style>
    .highlight-green-text {
        background-color: #d4edda; /* Зеленый фон */
        color: #155724; /* Темно-зеленый текст */
        padding: 0.2em; /* Небольшие отступы для лучшего отображения */
    }
    .highlight-red-text {
        background-color: #f8d7da; /* Красный фон */
        color: #721c24; /* Темно-красный текст */
        padding: 0.2em; /* Небольшие отступы для лучшего отображения */
    }
    .nowrap {
        white-space: nowrap; /* Не переносить текст на другую строку */
    }
</style>
    <table>
        <thead>
            <tr class="header-row">
                <th>League</th>
                <th>Match</th>
                <th>Minute</th>
                <th>1st Half Score</th>
                <th>1st Half Corners</th>
                <th>1st Half Shots</th>
                <th>1st Half On Goal</th>
                <th>1st Half Yellows</th>
                <th>1st Half Offsides</th>
                <th>2nd Half Score</th>
                <th>2nd Half Corners</th>
                <th>2nd Half Shots</th>
                <th>2nd Half On Goal</th>
                <th>2nd Half Yellows</th>
                <th>2nd Half Offsides</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
                {% set home_score_2nd = match.home_score_second_half %}
                {% set away_score_2nd = match.away_score_second_half %}
                {% set total_goals_2nd_half = home_score_2nd + away_score_2nd %}

                {% set home_corners_2nd = match.stats['2ND'].Corners.home if '2ND' in match.stats and 'Corners' in match.stats['2ND'] else '-' %}
                {% set away_corners_2nd = match.stats['2ND'].Corners.away if '2ND' in match.stats and 'Corners' in match.stats['2ND'] else '-' %}
                {% set total_corners_2nd_half = (home_corners_2nd|int) + (away_corners_2nd|int) if home_corners_2nd != '-' and away_corners_2nd != '-' else '-' %}

                {% set home_shots_on_goal_2nd = match.stats['2ND']['Shots on Goal'].home if '2ND' in match.stats and 'Shots on Goal' in match.stats['2ND'] else '-' %}
                {% set away_shots_on_goal_2nd = match.stats['2ND']['Shots on Goal'].away if '2ND' in match.stats and 'Shots on Goal' in match.stats['2ND'] else '-' %}
                {% set total_shots_on_goal_2nd_half = (home_shots_on_goal_2nd|int) + (away_shots_on_goal_2nd|int) if home_shots_on_goal_2nd != '-' and away_shots_on_goal_2nd != '-' else '-' %}

                {% set home_offsides_2nd = match.stats['2ND'].Offsides.home if '2ND' in match.stats and 'Offsides' in match.stats['2ND'] else '-' %}
                {% set away_offsides_2nd = match.stats['2ND'].Offsides.away if '2ND' in match.stats and 'Offsides' in match.stats['2ND'] else '-' %}
                {% set total_offsides_2nd_half = (home_offsides_2nd|int) + (away_offsides_2nd|int) if home_offsides_2nd != '-' and away_offsides_2nd != '-' else '-' %}

                {% set home_yellows_2nd = match.stats['2ND']['Yellow Cards'].home if '2ND' in match.stats and 'Yellow Cards' in match.stats['2ND'] else '-' %}
                {% set away_yellows_2nd = match.stats['2ND']['Yellow Cards'].away if '2ND' in match.stats and 'Yellow Cards' in match.stats['2ND'] else '-' %}
                {% set total_yellows_2nd_half = (home_yellows_2nd|int) + (away_yellows_2nd|int) if home_yellows_2nd != '-' and away_yellows_2nd != '-' else '-' %}

                {% set current_minute_int = match.current_minute|int %}

                {% set is_highlighted_red_goals = total_goals_2nd_half != '-' and total_goals_2nd_half|int >= 2 and current_minute_int <= 56 %}
                {% set is_highlighted_green_goals = total_goals_2nd_half != '-' and home_score_2nd|int == 0 and away_score_2nd|int == 0 and current_minute_int > 65 %}

                {% set is_highlighted_green_corners = total_corners_2nd_half != '-' and (
                    (current_minute_int > 61 and total_corners_2nd_half|int == 0) or
                    (current_minute_int > 71 and total_corners_2nd_half|int <= 1) or
                    (current_minute_int > 81 and total_corners_2nd_half|int <= 2)
                ) %}
                {% set is_highlighted_red_corners = total_corners_2nd_half != '-' and (
                    (current_minute_int <= 50 and total_corners_2nd_half|int >= 2) or
                    (current_minute_int <= 60 and total_corners_2nd_half|int >= 4) or
                    (current_minute_int <= 70 and total_corners_2nd_half|int >= 6)
                ) %}

                {% set is_highlighted_green_shots_on_goal = total_shots_on_goal_2nd_half != '-' and (
                    (current_minute_int > 61 and total_shots_on_goal_2nd_half|int == 0) or
                    (current_minute_int > 71 and total_shots_on_goal_2nd_half|int <= 1) or
                    (current_minute_int > 81 and total_shots_on_goal_2nd_half|int <= 2)
                ) %}
                {% set is_highlighted_red_shots_on_goal = total_shots_on_goal_2nd_half != '-' and (
                    (current_minute_int <= 50 and total_shots_on_goal_2nd_half|int >= 2) or
                    (current_minute_int <= 60 and total_shots_on_goal_2nd_half|int >= 4) or
                    (current_minute_int <= 70 and total_shots_on_goal_2nd_half|int >= 6)
                ) %}

                {% set is_highlighted_green_offsides = total_offsides_2nd_half != '-' and (
                    (current_minute_int > 65 and total_offsides_2nd_half|int == 0) or
                    (current_minute_int > 75 and total_offsides_2nd_half|int <= 1)
                ) %}
                {% set is_highlighted_red_offsides = total_offsides_2nd_half != '-' and (
                    (current_minute_int <= 60 and total_offsides_2nd_half|int >= 2) or
                    (current_minute_int <= 70 and total_offsides_2nd_half|int >= 3) or
                    (current_minute_int <= 80 and total_offsides_2nd_half|int >= 4)
                ) %}

                {% set is_highlighted_green_yellows = total_yellows_2nd_half != '-' and (
                    (current_minute_int > 65 and total_yellows_2nd_half|int == 0) or
                    (current_minute_int > 70 and total_yellows_2nd_half|int <= 1) or
                    (current_minute_int > 80 and total_yellows_2nd_half|int <= 2)
                ) %}
                {% set is_highlighted_red_yellows = total_yellows_2nd_half != '-' and (
                    (current_minute_int <= 50 and total_yellows_2nd_half|int >= 2) or
                    (current_minute_int <= 60 and total_yellows_2nd_half|int >= 3) or
                    (current_minute_int <= 70 and total_yellows_2nd_half|int >= 4) or
                    (current_minute_int <= 80 and total_yellows_2nd_half|int >= 6)
                ) %}

                <tr>
                    <td>{{ match.country }} - {{ match.league }}</td>
                    <td>{{ match.home_team }} vs {{ match.away_team }}</td>
                    <td>{{ match.half }} - {{ match.current_minute }}</td>
                    <td>{{ match.home_score_first_half }} - {{ match.away_score_first_half }}</td>
                    <td>{{ match.stats['1ST'].Corners.home if '1ST' in match.stats and 'Corners' in match.stats['1ST'] else '-' }} - {{ match.stats['1ST'].Corners.away if '1ST' in match.stats and 'Corners' in match.stats['1ST'] else '-' }}</td>
                    <td>{{ match.stats['1ST'].Shots.home if '1ST' in match.stats and 'Shots' in match.stats['1ST'] else '-' }} - {{ match.stats['1ST'].Shots.away if '1ST' in match.stats and 'Shots' in match.stats['1ST'] else '-' }}</td>
                    <td>{{ match.stats['1ST']['Shots on Goal'].home if '1ST' in match.stats and 'Shots on Goal' in match.stats['1ST'] else '-' }} - {{ match.stats['1ST']['Shots on Goal'].away if '1ST' in match.stats and 'Shots on Goal' in match.stats['1ST'] else '-' }}</td>
                    <td>{{ match.stats['1ST']['Yellow Cards'].home if '1ST' in match.stats and 'Yellow Cards' in match.stats['1ST'] else '-' }} - {{ match.stats['1ST']['Yellow Cards'].away if '1ST' in match.stats and 'Yellow Cards' in match.stats['1ST'] else '-' }}</td>
                    <td>{{ match.stats['1ST'].Offsides.home if '1ST' in match.stats and 'Offsides' in match.stats['1ST'] else '-' }} - {{ match.stats['1ST'].Offsides.away if '1ST' in match.stats and 'Offsides' in match.stats['1ST'] else '-' }}</td>
                    <td>
                        {% if is_highlighted_red_goals %}
                            <span class="highlight-red-text">{{ match.home_score_second_half }} - {{ match.away_score_second_half }}</span>
                        {% elif is_highlighted_green_goals %}
                            <span class="highlight-green-text">{{ match.home_score_second_half }} - {{ match.away_score_second_half }}</span>
                        {% else %}
                            {{ match.home_score_second_half }} - {{ match.away_score_second_half }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_highlighted_red_corners %}
                            <span class="highlight-red-text">{{ home_corners_2nd }} - {{ away_corners_2nd }}</span>
                        {% elif is_highlighted_green_corners %}
                            <span class="highlight-green-text">{{ home_corners_2nd }} - {{ away_corners_2nd }}</span>
                        {% else %}
                            {{ home_corners_2nd }} - {{ away_corners_2nd }}
                        {% endif %}
                    </td>
                    <td>{{ match.stats['2ND'].Shots.home if '2ND' in match.stats and 'Shots' in match.stats['2ND'] else '-' }} - {{ match.stats['2ND'].Shots.away if '2ND' in match.stats and 'Shots' in match.stats['2ND'] else '-' }}</td>
                    <td>
                        {% if is_highlighted_red_shots_on_goal %}
                            <span class="highlight-red-text">{{ home_shots_on_goal_2nd }} - {{ away_shots_on_goal_2nd }}</span>
                        {% elif is_highlighted_green_shots_on_goal %}
                            <span class="highlight-green-text">{{ home_shots_on_goal_2nd }} - {{ away_shots_on_goal_2nd }}</span>
                        {% else %}
                            {{ home_shots_on_goal_2nd }} - {{ away_shots_on_goal_2nd }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_highlighted_red_yellows %}
                            <span class="highlight-red-text">{{ home_yellows_2nd }} - {{ away_yellows_2nd }}</span>
                        {% elif is_highlighted_green_yellows %}
                            <span class="highlight-green-text">{{ home_yellows_2nd }} - {{ away_yellows_2nd }}</span>
                        {% else %}
                            {{ home_yellows_2nd }} - {{ away_yellows_2nd }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_highlighted_red_offsides %}
                            <span class="highlight-red-text">{{ home_offsides_2nd }} - {{ away_offsides_2nd }}</span>
                        {% elif is_highlighted_green_offsides %}
                            <span class="highlight-green-text">{{ home_offsides_2nd }} - {{ away_offsides_2nd }}</span>
                        {% else %}
                            {{ home_offsides_2nd }} - {{ away_offsides_2nd }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No matches available.</p>
{% endif %}
