{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Live Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        @font-face {
            font-family: 'Moscow2024';
            src: url('{{ url_for('static', filename='fonts/Moscow2024.woff2') }}') format('woff2'),
                 url('{{ url_for('static', filename='fonts/Moscow2024.woff') }}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body, table, th, td, input {
            font-family: 'Moscow2024', sans-serif;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px; /* Добавьте отступ между таблицами */
        }

        th, td {
            border: 1px solid #ddd;
            padding: 4px;
            text-align: center;
            width: 7%; /* Уменьшите ширину столбцов */
        }

        th {
            background-color: #f2f2f2;
            font-size: 10px; /* Уменьшите размер шрифта заголовков */
        }

        input[type="text"], input[type="number"] {
            width: 40px; /* Уменьшите ширину полей */
            height: 18px; /* Уменьшите высоту полей */
            font-size: 10px; /* Уменьшите размер шрифта */
            padding: 1px; /* Уменьшите внутренние отступы */
            box-sizing: border-box; /* Чтобы padding и border не увеличивали общий размер элемента */
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none; /* Убираем стрелочки в Chrome и Safari */
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield; /* Убираем стрелочки в Firefox */
        }

        #stats-section {
            display: none; /* Скрываем вторую таблицу по умолчанию */
        }

        button {
            font-family: 'Moscow2024', sans-serif;
            color: white;
            background-color: #333;
            border: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
        }

        button:hover {
            background-color: red;
            color: white;
        }

        td select {
    width: 120px;
    padding: 0.2rem;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    display: inline-block;
}

    </style>
</head>
<body>
    <h1>Soccer Live Input</h1>
    <form method="POST" action="{{ url_for('soccer_live') }}">
        {{ form.hidden_tag() }}
        <div style="display: flex; flex-wrap: wrap;">
        <table id="table1" style="flex: 1;">
            <thead>
                <tr>
                    <th rowspan="2">Params</th>
                    <th colspan="3">Team 1</th>
                    <th colspan="3">Team 2</th>
                </tr>
                <tr>
                    <th>Main</th>
                    <th>+</th>
                    <th>-</th>
                    <th>Main</th>
                    <th>+</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Score</td>
                    <td><input type="text" name="score_t1" value="{{ form.score_t1.data or 0 }}"></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" name="score_t2" value="{{ form.score_t2.data or 0 }}"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>xG</td>
                    <td><input type="number" name="xg_t1" value="{{ form.xg_t1.data }}" step="any"></td>
                    <td><input type="number" name="xg_t1_plus" value="{{ form.xg_t1_plus.data }}" step="any"></td>
                    <td><input type="number" name="xg_t1_minus" value="{{ form.xg_t1_minus.data }}" step="any"></td>
                    <td><input type="number" name="xg_t2" value="{{ form.xg_t2.data }}"></td>
                    <td><input type="number" name="xg_t2_plus" value="{{ form.xg_t2_plus.data }}"></td>
                    <td><input type="number" name="xg_t2_minus" value="{{ form.xg_t2_minus.data }}"></td>
                </tr>
                <tr>
                    <td>Shots</td>
                    <td><input type="number" name="shots_t1" value="{{ form.shots_t1.data }}"></td>
                    <td><input type="number" name="shots_t1_plus" value="{{ form.shots_t1_plus.data }}"></td>
                    <td><input type="number" name="shots_t1_minus" value="{{ form.shots_t1_minus.data }}"></td>
                    <td><input type="number" name="shots_t2" value="{{ form.shots_t2.data }}"></td>
                    <td><input type="number" name="shots_t2_plus" value="{{ form.shots_t2_plus.data }}"></td>
                    <td><input type="number" name="shots_t2_minus" value="{{ form.shots_t2_minus.data }}"></td>
                </tr>
                <tr>
                    <td>On Goal</td>
                    <td><input type="number" name="on_goal_t1" value="{{ form.on_goal_t1.data }}"></td>
                    <td><input type="number" name="on_goal_t1_plus" value="{{ form.on_goal_t1_plus.data }}"></td>
                    <td><input type="number" name="on_goal_t1_minus" value="{{ form.on_goal_t1_minus.data }}"></td>
                    <td><input type="number" name="on_goal_t2" value="{{ form.on_goal_t2.data }}"></td>
                    <td><input type="number" name="on_goal_t2_plus" value="{{ form.on_goal_t2_plus.data }}"></td>
                    <td><input type="number" name="on_goal_t2_minus" value="{{ form.on_goal_t2_minus.data }}"></td>
                </tr>
                <tr>
                    <td>Poss. %</td>
                    <td><input type="number" name="possesion_t1" value="{{ form.possesion_t1.data }}"></td>
                    <td><input type="number" name="possesion_t1_plus" value="{{ form.possesion_t1_plus.data }}"></td>
                    <td><input type="number" name="possesion_t1_minus" value="{{ form.possesion_t1_minus.data }}"></td>
                    <td><input type="number" name="possesion_t2" value="{{ form.possesion_t2.data }}"></td>
                    <td><input type="number" name="possesion_t2_plus" value="{{ form.possesion_t2_plus.data }}"></td>
                    <td><input type="number" name="possesion_t2_minus" value="{{ form.possesion_t2_minus.data }}"></td>
                </tr>
                <tr>
                    <td>Corners</td>
                    <td><input type="number" name="corners_t1" value="{{ form.corners_t1.data }}"></td>
                    <td><input type="number" name="corners_t1_plus" value="{{ form.corners_t1_plus.data }}"></td>
                    <td><input type="number" name="corners_t1_minus" value="{{ form.corners_t1_minus.data }}"></td>
                    <td><input type="number" name="corners_t2" value="{{ form.corners_t2.data }}"></td>
                    <td><input type="number" name="corners_t2_plus" value="{{ form.corners_t2_plus.data }}"></td>
                    <td><input type="number" name="corners_t2_minus" value="{{ form.corners_t2_minus.data }}"></td>
                </tr>
                <tr>
                    <td>Attacks</td>
                    <td><input type="number" name="attacks_t1" value="{{ form.attacks_t1.data }}"></td>
                    <td><input type="number" name="attacks_t1_plus" value="{{ form.attacks_t1_plus.data }}"></td>
                    <td><input type="number" name="attacks_t1_minus" value="{{ form.attacks_t1_minus.data }}"></td>
                    <td><input type="number" name="attacks_t2" value="{{ form.attacks_t2.data }}"></td>
                    <td><input type="number" name="attacks_t2_plus" value="{{ form.attacks_t2_plus.data }}"></td>
                    <td><input type="number" name="attacks_t2_minus" value="{{ form.attacks_t2_minus.data }}"></td>
                </tr>
            </tbody>
        </table>

<table id="table2" style="flex: 1;">
    <thead>
                <tr>
                    <th rowspan="2">Stats</th>
                    <th colspan="3">Team 1</th>
                    <th colspan="3">Team 2</th>
                </tr>
                <tr>
                    <th>Main</th>
                    <th>+</th>
                    <th>-</th>
                    <th>Main</th>
                    <th>+</th>
                    <th>-</th>
                </tr>
    </thead>
    <tbody>
        <!-- Free Kicks -->
        <tr>
            <td>F.Kicks</td>
            <td><input type="number" name="freekicks_t1" value="{{ additional_form.freekicks_t1.data }}"></td>
            <td><input type="number" name="freekicks_t1_plus" value="{{ additional_form.freekicks_t1_plus.data }}"></td>
            <td><input type="number" name="freekicks_t1_minus" value="{{ additional_form.freekicks_t1_minus.data }}"></td>
            <td><input type="number" name="freekicks_t2" value="{{ additional_form.freekicks_t2.data }}"></td>
            <td><input type="number" name="freekicks_t2_plus" value="{{ additional_form.freekicks_t2_plus.data }}"></td>
            <td><input type="number" name="freekicks_t2_minus" value="{{ additional_form.freekicks_t2_minus.data }}"></td>
        </tr>

        <!-- Throw-ins -->
        <tr>
            <td>Throwins</td>
            <td><input type="number" name="throw_ins_t1" value="{{ additional_form.throw_ins_t1.data }}"></td>
            <td><input type="number" name="throw_ins_t1_plus" value="{{ additional_form.throw_ins_t1_plus.data }}"></td>
            <td><input type="number" name="throw_ins_t1_minus" value="{{ additional_form.throw_ins_t1_minus.data }}"></td>
            <td><input type="number" name="throw_ins_t2" value="{{ additional_form.throw_ins_t2.data }}"></td>
            <td><input type="number" name="throw_ins_t2_plus" value="{{ additional_form.throw_ins_t2_plus.data }}"></td>
            <td><input type="number" name="throw_ins_t2_minus" value="{{ additional_form.throw_ins_t2_minus.data }}"></td>
        </tr>

        <!-- Offsides -->
        <tr>
            <td>Offsides</td>
            <td><input type="number" name="offsides_t1" value="{{ additional_form.offsides_t1.data }}"></td>
            <td><input type="number" name="offsides_t1_plus" value="{{ additional_form.offsides_t1_plus.data }}"></td>
            <td><input type="number" name="offsides_t1_minus" value="{{ additional_form.offsides_t1_minus.data }}"></td>
            <td><input type="number" name="offsides_t2" value="{{ additional_form.offsides_t2.data }}"></td>
            <td><input type="number" name="offsides_t2_plus" value="{{ additional_form.offsides_t2_plus.data }}"></td>
            <td><input type="number" name="offsides_t2_minus" value="{{ additional_form.offsides_t2_minus.data }}"></td>
        </tr>

        <!-- Fouls -->
        <tr>
            <td>Fouls</td>
            <td><input type="number" name="fouls_t1" value="{{ additional_form.fouls_t1.data }}"></td>
            <td><input type="number" name="fouls_t1_plus" value="{{ additional_form.fouls_t1_plus.data }}"></td>
            <td><input type="number" name="fouls_t1_minus" value="{{ additional_form.fouls_t1_minus.data }}"></td>
            <td><input type="number" name="fouls_t2" value="{{ additional_form.fouls_t2.data }}"></td>
            <td><input type="number" name="fouls_t2_plus" value="{{ additional_form.fouls_t2_plus.data }}"></td>
            <td><input type="number" name="fouls_t2_minus" value="{{ additional_form.fouls_t2_minus.data }}"></td>
        </tr>

        <!-- Yellow Cards -->
        <tr>
            <td>Yellow</td>
            <td><input type="number" name="yellows_t1" value="{{ additional_form.yellows_t1.data }}"></td>
            <td><input type="number" name="yellows_t1_plus" value="{{ additional_form.yellows_t1_plus.data }}"></td>
            <td><input type="number" name="yellows_t1_minus" value="{{ additional_form.yellows_t1_minus.data }}"></td>
            <td><input type="number" name="yellows_t2" value="{{ additional_form.yellows_t2.data }}"></td>
            <td><input type="number" name="yellows_t2_plus" value="{{ additional_form.yellows_t2_plus.data }}"></td>
            <td><input type="number" name="yellows_t2_minus" value="{{ additional_form.yellows_t2_minus.data }}"></td>
        </tr>
    </tbody>
    </table>
    <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 10px;">
        <button type="button" style="flex: 0 0 auto;" onclick="resetTable('table1')">Reset Params</button>
        <div style="flex-grow: 1;"></div>
        <button type="button" style="flex: 0 0 auto;" onclick="resetTable('table2')">Reset Stats</button>
    </div>
<table>
    <thead>
        <tr>
            <th>Odds Type</th>
            <th>Odds open/close</th>
            <th>+/-</th>
            <th>Field</th>
        </tr>
    </thead>
    <tbody>
        <!-- Win 1 -->
        <tr>
            <td>Win 1</td>
            <td>
                <input type="number" name="win_t1_open" value="{{ odds_form.win_t1_open.data }}" step="0.01"/>
                <input type="number" name="win_t1" value="{{ odds_form.win_t1.data }}" step="0.01"/>
            </td>
            <td>
                <input type="number" name="win_t1_approx" value="{{ odds_form.win_t1_approx.data }}" step="0.01"/>
            </td>
            <td>
                Country:
                <select name="country" id="country-select">
                    {% for country_id, country_name in country_choices %}
                        <option value="{{ country_id }}">{{ country_name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <!-- Draw -->
        <tr>
            <td>Draw</td>
            <td>
                <input type="number" step="0.01" name="draw_open" value="{{ odds_form.draw_open.data }}" />
                <input type="number" step="0.01" name="draw" value="{{ odds_form.draw.data }}" />
            </td>
            <td>
                <input type="number" step="0.01" name="draw_approx" value="{{ odds_form.draw_approx.data }}" />
            </td>
            <td>
                League:
                <select name="league" id="league-select">
                    <!-- Лиги будут добавлены динамически через JavaScript -->
                </select>
            </td>
        </tr>

        <!-- Win 2 -->
        <tr>
            <td>Win 2</td>
            <td>
                <input type="number" step="0.01" name="win_t2_open" value="{{ odds_form.win_t2_open.data }}" />
                <input type="number" step="0.01" name="win_t2" value="{{ odds_form.win_t2.data }}" />
            </td>
            <td>
                <input type="number" step="0.01" name="win_t2_approx" value="{{ odds_form.win_t2_approx.data }}" />
            </td>
            <td>
                Team 1:
                <select id="team_home" name="team_home">
                    <!-- Здесь будут динамически добавлены опции -->
                </select>
            </td>
        </tr>

        <!-- Over 1.5 -->
        <tr>
            <td>Over 1.5</td>
            <td>
                <input type="number" step="0.01" name="total_15_open" step="0.01" value="{{ odds_form.total_15_open.data }}" />
                <input type="number" step="0.01" name="total_15" step="0.01" value="{{ odds_form.total_15.data }}" />
            </td>
            <td>
                <input type="number" step="0.01" name="total_15_plus" step="0.01" value="{{ odds_form.total_15_plus.data }}" />
                <input type="number" step="0.01" name="total_15_minus" step="0.01" value="{{ odds_form.total_15_minus.data }}" />
            </td>
            <td>
                Team 2:
                <select id="team_away" name="team_away">
                    <!-- Здесь будут динамически добавлены опции -->
                </select>
            </td>
        </tr>

        <!-- Over 2.5 -->
        <tr>
            <td>Over 2.5</td>
            <td>
                <input type="number" step="0.01" name="total_25_open" value="{{ odds_form.total_25_open.data }}" />
                <input type="number" step="0.01" name="total_25" value="{{ odds_form.total_25.data }}" />
            </td>
            <td>
                <input type="number" step="0.01" name="total_25_plus" value="{{ odds_form.total_25_plus.data }}" />
                <input type="number" step="0.01" name="total_25_minus" value="{{ odds_form.total_25_minus.data }}" />
            </td>
            <td>
                <label for="sportsbook" style="display: inline-block; margin-right: 10px;">S.book:</label>
                <select id="sportsbook" name="sportsbook" style="display: inline-block;">
                    <option value="1xbet">1xbet</option>
                    <option value="bet365" selected>bet365</option>
                    <option value="unibet">unibet</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
</div>
        <div>
            {{ form.submit(class_='button') }}
        </div>

    </form>
{% if percentages %}
    <h3> cases: {{ total_entries }}</h3>
    <table>
        <thead>
            <tr>
                <th>Goals 2 half</th>
                <th>Cases</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for score, count, percentage in percentages %}
                <tr>
                    <td>{{ score }}</td>
                    <td>{{ count }}</td>
                    <td>{{ percentage|round(2) }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if overall_probability %}
    <h3>Accurate probability of goal in 2 half: {{ (overall_probability * 100)|round(2) }}%</h3>

{% endif %}

{% if team1_percentages or team2_percentages %}
    <h3>Teams Results</h3>
    <table>
        <thead>
            <tr>
                <th>Team1</th>
                <th>Cases</th>
                <th>Team1 %</th>
                <th>Team2</th>
                <th>Cases)</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% set team1_max = team1_percentages|length %}
            {% set team2_max = team2_percentages|length %}
            {% set max_length = team1_max if team1_max > team2_max else team2_max %}

            {% for i in range(max_length) %}
                <tr>
                    <td>{{ team1_percentages[i][0] if i < team1_max else '' }}</td>
                    <td>{{ team1_percentages[i][1] if i < team1_max else '' }}</td>
                    <td>{{ team1_percentages[i][2]|round(2) if i < team1_max else '' }}%</td>

                    <td>{{ team2_percentages[i][0] if i < team2_max else '' }}</td>
                    <td>{{ team2_percentages[i][1] if i < team2_max else '' }}</td>
                    <td>{{ team2_percentages[i][2]|round(2) if i < team2_max else '' }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
<script>
function resetTable(tableId) {
    var table = document.getElementById(tableId);
    var inputs = table.getElementsByTagName('input');
    for (var i = 0; i < inputs.length; i++) {
        inputs[i].value = ''; // Сбрасывает значение каждого input в таблице
    }
}
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const countrySelect = document.getElementById('country-select');
    const leagueSelect = document.getElementById('league-select');
    const teamHomeSelect = document.getElementById('team_home');
    const teamAwaySelect = document.getElementById('team_away');

    // Обработка изменения выбора страны
    countrySelect.addEventListener('change', function() {
        const countryId = this.value;

        fetch(`/get_leagues_live?country_id=${countryId}`)
            .then(response => response.json())
            .then(data => {
                leagueSelect.innerHTML = ''; // Очистка списка лиг
                data.forEach(([id, name]) => {
                    const option = document.createElement('option');
                    option.value = id;
                    option.text = name;
                    leagueSelect.appendChild(option);
                });

                // Очистка списков команд при изменении страны
                teamHomeSelect.innerHTML = '<option>Select Team</option>';
                teamAwaySelect.innerHTML = '<option>Select Team</option>';
            })
            .catch(error => console.error('Error fetching leagues:', error));
    });

leagueSelect.addEventListener('change', function() {
    const leagueId = this.value;

    fetch(`/get_teams_live?league_id=${leagueId}`)
        .then(response => response.json())
        .then(data => {
            console.log(data); // Проверьте в консоли, что данные поступают
            // Очистка списков команд
            teamHomeSelect.innerHTML = '<option>Select Team</option>';
            teamAwaySelect.innerHTML = '<option>Select Team</option>';
            data.forEach(team => {
                const optionHome = document.createElement('option');
                optionHome.value = team;
                optionHome.text = team;
                teamHomeSelect.appendChild(optionHome);

                const optionAway = document.createElement('option');
                optionAway.value = team;
                optionAway.text = team;
                teamAwaySelect.appendChild(optionAway);
            });
        })
        .catch(error => console.error('Error fetching teams:', error));
});
});
</script>
</html>
{% endblock %}
