<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statixbet</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon_red.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Подключение библиотеки select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <a class="brand" href="{{ url_for('index') }}">Statixbet</a>
        <div class="sports-links">
            <a href="{{ url_for('unity_index') }}" class="{{ 'active' if active_page == 'unity_index' else '' }}">Equlaizer</a>
            <a href="{{ url_for('soccer') }}" class="{{ 'active' if active_page == 'soccer' else '' }}">Soccer</a>
            <a href="{{ url_for('under_construction') }}" class="{{ 'active' if active_page == 'basketball' else '' }}">Basketball</a>
            <a href="{{ url_for('under_construction') }}" class="{{ 'active' if active_page == 'ice_hockey' else '' }}">Ice Hockey</a>
            <a href="{{ url_for('under_construction') }}" class="{{ 'active' if active_page == 'handball' else '' }}">Handball</a>
            <a href="{{ url_for('current_matches') }}" class="{{ 'active' if active_page == 'current_matches' else '' }}">Live Matches</a>
        </div>
        {% if not current_user.is_anonymous %}
        <div class="right">
            <span>{{ current_user.username }}</span>
            <span>Available requests: {{ current_user.available_requests }}</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
    <div class="container">
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <!-- Подключение библиотеки select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        function toggleSection(sectionId) {
            const sections = document.querySelectorAll('.section');
            sections.forEach(section => section.style.display = 'none');

            const buttons = document.querySelectorAll('.button');
            buttons.forEach(button => button.classList.remove('active'));

            document.getElementById(sectionId + '-section').style.display = 'block';
            document.getElementById(sectionId).classList.add('active');
        }

        // Инициализация: показ первой секции по умолчанию
        document.addEventListener('DOMContentLoaded', () => {
            toggleSection('pre-match');
        });
    </script>
</body>
</html>
